@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

.App {
  text-align: left;
}

svg {
  stroke: #fff;
  fill: transparent;
  stroke-width: 8px;
}
.grey {
  stroke: #D9D9D9;
  fill: transparent;
  stroke-width: 3px;
  filter : drop-shadow(0 30px 30px rgba(69, 144, 246, 0.8));
}
text {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 20px;
  fill: #fff;
  stroke: #fff;
  stroke-width: 0.3px;
}

/* .underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  top: 1rem;
} */